@media screen and (max-width: 800px) {
  .nav-toggler-icon {
    display: block;
  }
  .navigation {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px 0;
    transform: translateY(-330px);
    transition: 0.5s ease-in-out;
  }
  .navigation li a {
    color: #121212;
  }
  #nav-toggler:checked ~ .navigation {
    transform: translateY(0px);
  }
  .banner,
  .popular-collection,
  .featured-product {
    grid-template-columns: repeat(1, 1fr);
  }
  .variable-site-logo {
    grid-template-columns: repeat(2, 1fr);
  }
  .featured-product-right-item {
    padding: 40px 0;
  }
}
